test/src/META-INF/wsdl/localhost_8080/WebS/Whiit.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://whiit.cinves.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://whiit.cinves.com/">

<xs:element name="consult" type="tns:consult"/>

<xs:element name="consultResponse" type="tns:consultResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="inform" type="tns:inform"/>

<xs:element name="informResponse" type="tns:informResponse"/>

<xs:element name="list" type="tns:list"/>

<xs:element name="listResponse" type="tns:listResponse"/>

<xs:complexType name="inform">
<xs:sequence>
<xs:element name="lastLocation" type="tns:lastLocation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lastLocation">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="update" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="informResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="list">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listResponse">
<xs:sequence>
<xs:element name="return" type="tns:lastLocation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consult">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultResponse">
<xs:sequence>
<xs:element name="return" type="tns:lastLocation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>