test/src/META-INF/wsdl/localhost_8080/WebS/Whiit.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://whiit.cinves.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://whiit.cinves.com/" name="Whiit">
<types>
<xsd:schema>
<xsd:import namespace="http://whiit.cinves.com/" schemaLocation="http://localhost:8080/WebS/Whiit?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="inform">
<part name="parameters" element="tns:inform"/>
</message>
<message name="informResponse">
<part name="parameters" element="tns:informResponse"/>
</message>
<message name="consult">
<part name="parameters" element="tns:consult"/>
</message>
<message name="consultResponse">
<part name="parameters" element="tns:consultResponse"/>
</message>
<message name="list">
<part name="parameters" element="tns:list"/>
</message>
<message name="listResponse">
<part name="parameters" element="tns:listResponse"/>
</message>
<portType name="Whiit">
<operation name="hello">
<input wsam:Action="http://whiit.cinves.com/Whiit/helloRequest" message="tns:hello"/>
<output wsam:Action="http://whiit.cinves.com/Whiit/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="inform">
<input wsam:Action="http://whiit.cinves.com/Whiit/informRequest" message="tns:inform"/>
<output wsam:Action="http://whiit.cinves.com/Whiit/informResponse" message="tns:informResponse"/>
</operation>
<operation name="consult">
<input wsam:Action="http://whiit.cinves.com/Whiit/consultRequest" message="tns:consult"/>
<output wsam:Action="http://whiit.cinves.com/Whiit/consultResponse" message="tns:consultResponse"/>
</operation>
<operation name="list">
<input wsam:Action="http://whiit.cinves.com/Whiit/listRequest" message="tns:list"/>
<output wsam:Action="http://whiit.cinves.com/Whiit/listResponse" message="tns:listResponse"/>
</operation>
</portType>
<binding name="WhiitPortBinding" type="tns:Whiit">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inform">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="list">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Whiit">
<port name="WhiitPort" binding="tns:WhiitPortBinding">
<soap:address location="http://localhost:8080/WebS/Whiit"/>
</port>
</service>
</definitions>